certifi
pytz
setuptools
attrs
pip
Faker
qrcode
multidict
gspread
cachetools
protobuf
rsa
oauth2client
uritemplate
async-timeout
aiohttp
idna
oauthlib
openpyxl
pyparsing
requests
google-auth
python-dateutil
charset-normalizer
urllib3
numpy
six
yarl
pandas
frozenlist
requests-oauthlib
PyQRCode
aiosignal
et-xmlfile
pypng
wheel
httplib2
google-auth-oauthlib
pyasn1
colorama
pyasn1-modules
imgbbpy
